__pycache__/
*.pyc
.DS_Store
.env
.vscode/
.idea/
logs/
*.csv
mlartifacts/
mlruns/
.h5
.pkl
C:\Users\gangw\Desktop\Projects\Credit_card_fraud_detection\webapp\package-lock.json
C:\Users\gangw\Desktop\Projects\Credit_card_fraud_detection\webapp\package.json
C:\Users\gangw\Desktop\Projects\Credit_card_fraud_detection\webapp\README.md
C:\Users\gangw\Desktop\Projects\Credit_card_fraud_detection\webapp\node_modules
*.csv
data/
datasets/
*.pkl
*.h5
*.pt
*.onnx
mlartifacts/
mlruns/
logs/